/* HTML Body */

body {
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, #051937, #171228, #190a1a, #12040d, #000000);

}

* {
    box-sizing: border-box;
    color: #ffffff;
    padding: 0;
    margin: 0;
    font-family: 'Jolly Lodger', cursive;
}

:root {
    font-size: 63%;
}

h1,
h2,
h3,
h4 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 8rem;
    color: #fff;
    margin-bottom: 3.5rem;
}


h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
    font-weight: 700;
    color: #fff;
}

h3,
h4 {
    color: #fff;
    font-size: 2.2rem;
    margin-bottom: 4rem;
    font-weight: 300;
}

/* Title Halloween Quiz*/
.content {
    position: relative;
    white-space: nowrap;
    bottom: 4rem;
}

.content h1 {
    color: #fff;
    font-size: 9em;
    position: absolute;
    transform: translate(-50%, -50%);
}

.content h1:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #ffffff;
}

.content h1:nth-child(2) {
    color: red;
    animation: animate 2.5s ease-in-out infinite;
}

@keyframes animate {

    0%,
    100% {
        clip-path: polygon(0% 45%,
                16% 44%,
                33% 50%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%);
    }

    50% {
        clip-path: polygon(0% 90%,
                15% 75%,
                34% 86%,
                51% 72%,
                67% 80%,
                84% 95%,
                100% 96%,
                100% 100%,
                0% 100%);
    }
}

/* Quiz container */


.container {
    height: 100vh;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 1.5rem;
}

.container>* {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}


.flex-center {
    justify-content: center;
    align-items: center;
}


/* Buttons */

button.next {
    display: none;
}

.btn {
    font-size: 4rem;
    padding: 1rem 0;
    width: 8rem;
    text-align: center;
    text-decoration: none;
    font-family: 'Jolly Lodger', cursive;
}

.btn:hover {
    cursor: pointer;
    transform: translateY(-0.6rem);
    color: red;
    transition: color 1.9s;
}

#btnHome {
    font-size: 2.5rem;
    float: left;
    margin-top: 1.4rem;
}

#btnHome:hover {
    cursor: pointer;
    transform: translateY(-0.6rem);
    color: red;
    transition: color 1.9s;
}

button {
    background-color: transparent;
    padding: 0.3rem 1.5rem;
    border: none;
    outline: none;
    font-size: 4rem;
    color: rgb(255, 255, 255);
}

.buttons {
    text-align: center;
}

/* Questions */
::marker {
    color: red;
    font-size: smaller;
}


.questions {
    height: 90vh;
    width: 100vh;
    align-items: center;
    margin: 0 auto;
    padding: 1.7rem;
    padding-top: 10rem;
    max-width: fit-content;
}

.questions {
    border-radius: 1rem;

}

#question {
    font-size: 5.5rem;
}

.option {
    width: 100%;
    padding: 1.4rem;
    font-size: 3rem;
    border: solid rgba(255, 255, 255, 0.678) 0.1rem;
    border-radius: 1rem 1rem;
    margin-top: 1rem;
}

.option:hover {
    font-size: 3.5rem;
    outline: none;
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(249, 3, 3, 0.952);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.5s;
    transition-property: transform;
}

.option:hover,
.option:focus,
.option:active {
    transform: scale(1.1);
}


/* Answers */

ol {
    position: relative;
    padding: 0 1.5rem;
    color: rgb(1, 73, 73);
}

span {
    display: block;
    padding: 0.1rem 0.7rem;
    border-radius: 1rem;
}

#answer {
    margin-top: 2.5rem;
}

/* Question count */

#qnum {
    margin-top: 1.5rem;
    font-size: 2.5rem;
    float: right;
}

/* Scoreboard count */

#scoreboard,
#answersForQuiz {
    width: 20rem;
    padding: 2rem;
    text-align: center;
    margin: auto;
    position: relative;
    top: 1rem;
    display: none;
    margin-bottom: 1rem;
}

#score-title {
    margin: 1rem 0;
}

#score-btn,
#check-answer {
    margin-top: 1rem;
}

#score-btn:hover,
#check-answer:hover {
    cursor: pointer;
    transform: translateY(-0.6rem);
    color: red;
    transition: color 1.9s;
}

#answersForQuiz li {
    text-align: left;
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
}

#answersForQuiz li:hover {
    font-size: 2.6rem;
    cursor: pointer;
    transform: translateY(-0.6rem);
}

#answers {
    margin-top: 1rem;
}

/* Timer Bar */

#timerBar {
    width: 100%;
    height: 1.1rem;
    -webkit-appearance: none;
    appearance: none;
}


progress[value]::-webkit-progress-value {
    background-image:
        -webkit-linear-gradient(-50deg,
            transparent 33%, rgba(0, 0, 0, 0.1) 33%,
            rgba(0, 0, 0, 0) 66%, transparent 50%),
        -webkit-linear-gradient(top,
            rgba(0, 0, 0, 0.418),
            rgba(0, 0, 0, 0.25)),
        -webkit-linear-gradient(left, rgb(0, 0, 0), #f44);
    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}


/* Media queries for index.html */
@media screen and (max-width:425px) {

    .container {
        max-width: 100px;
        text-align: center;
        margin-left: 15.5rem;
    }

    .btn {
        font-size: 5rem;
    }

    h1 {
        white-space: nowrap;
    }

    .content {
        font-size: 8px;
    }

    /* Media queries Questions */

    #question {
        font-size: 3.5rem;
        margin-top: -6rem;
        margin-left: 1.2rem;
    }

    .option:hover,
    .option:focus,
    .option:active {
        transform: scale(1.04);
    }

    .option {
        font-size: 2.8rem;
        text-align: center;
        padding: 1rem;
    }

}

@media screen and (min-width:768px) {

    .container {
        text-align: center;
        margin: 0 auto;
    }

    .btn {
        font-size: 6rem;
        margin-bottom: 8.5rem;
    }

    h1 {
        white-space: nowrap;
        font-size: 9.5rem;
    }

    .option {
        font-size: 2.8rem;
        text-align: center;
    }

    #question {
        margin-top: -4rem;
    }

    .option:hover,
    .option:focus,
    .option:active {
        transform: scale(1.04);
    }
}